<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Item - Alterar</title>
    </head>
    <body>
        <h1>Item - Alterar</h1>
        <a th:href="@{/}">Início</a> / <a th:href="@{/itens}">Item</a> / <a th:href="@{/itens/{id}(id=*{id})}" th:text="*{id}"></a> / <a th:href="@{/itens/{id}/vinculos/(id=*{id})}">Vínculos</a> / <a th:href="@{/itens/{id}/vinculos/{vid}(id=*{id}, vid=*{vid})}" th:text="*{vid}"></a> / <a th:href="@{/itens/{id}/vinculos/{vid}/anotacoes(id=${id}, vid=*{vid})}">Anotações</a> / <a th:href="@{/itens/{id}/vinculos/{vid}/anotacoes/{aid}(id=${id}, vid=${vid}, aid=${aid})}" th:text="*{aid}"></a> / Atualizar<br />

        <form th:action="@{/itens/{id}/vinculos/{vid}/anotacoes/{aid}/update(id=${id}, vid=${vid}, aid=${aid})}" th:object="${anotacao}" method="POST">
            <input name="id" type="hidden" th:value="*{id}" />
            <p>ID: <span th:text="*{id}"></span></p>
            <label>Título: <input name="titulo" type="text" th:value="*{titulo}" /></label><br />
            <label>Descrição: <input name="descricao" type="text" th:value="*{descricao}" /></label><br />
            <label>URL: <input name="url" type="url" th:value="*{url}" /></label><br />
            <button type="submit">Atualizar</button>
        </form>
    </body>
</html>