<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Etiqueta - Alterar</title>
    </head>
    <body>
        <h1>Etiqueta - Alterar</h1>
        <a th:href="@{/}">Início</a> / <a th:href="@{/etiquetas}">Etiqueta</a> / <a th:href="@{/etiquetas/{id}(id=*{id})}" th:text="*{id}"></a> / Atualizar<br />
        <form th:action="@{/etiquetas/{id}/update(id=*{id})}" th:object="${etiqueta}" method="POST">
            <input name="id" type="hidden" th:value="*{id}" />
            <p>ID: <span th:text="*{id}"></span></p>
            <label>Título: <input name="titulo" type="text" th:value="*{titulo}" /></label><br />
            <label>Descrição: <input name="descricao" type="text" th:value="*{descricao}" /></label><br />
            <label>URL: <input name="url" type="url" th:value="*{url}" /></label><br />
            <button type="submit">Atualizar</button>
        </form>
    </body>
</html>