<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Etiqueta</title>
    </head>
    <body>
        <h1>Etiqueta</h1>
        <a th:href="@{/}">Início</a> / Etiqueta<br />
        <br />
        <a th:href="@{/etiquetas/create}">Cadastrar</a><br />

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>URL</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="etiqueta: ${etiquetas}" th:object=${etiqueta}>
                    <td><a th:text=*{id} th:href="@{/etiquetas/{id}(id=*{id})}"></a></td>
                    <td th:text=*{titulo}></td>
                    <td th:text=*{descricao}></td>
                    <td><a th:href="*{url}" th:text="*{url}"></a></td>
                    <td><a th:href="@{/etiquetas/{id}(id=*{id})}">Ver</a> - <a th:href="@{/etiquetas/{id}/update(id=*{id})}">Alterar</a> - <a th:href="@{/etiquetas/{id}/delete(id=*{id})}">Apagar</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>