<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <h1>Acervo de documentos</h1>

        <ul>
            <li><a href="/usuarios">Lista de usuários</a></li>
            <li th:if="${usuario == null}"><a href="/usuarios/login">Login</a></li>
        </ul>

        <section th:if="${usuario != null}">
            <h1>Perfil</h1>
            <ul>
                <li><a href="/itens">Itens</a></li>
                <li><a href="/etiquetas">Etiquetas</a></li>
                <li><a href="/usuarios/logout">Logout</a></li>
            </ul>
        </section>
    </body>
</html>