<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Item - Alterar</title>
    </head>
    <body>
        <h1>Item - Alterar</h1>
        <a th:href="@{/}">Início</a> / <a th:href="@{/itens}">Item</a> / <a th:href="@{/itens/{id}(id=*{id})}" th:text="*{id}"></a> / Atualizar<br />
        <form th:action="@{/itens/{id}/update(id=*{id})}" th:object="${item}" method="POST">
            <input name="id" type="hidden" th:value="*{id}" />
            <p>ID: <span th:text="*{id}"></span></p>
            <label>Título: <input name="titulo" type="text" th:value="*{titulo}" /></label><br />
            <button type="submit">Atualizar</button>
        </form>
    </body>
</html>