<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Usuário</title>
    </head>
    <body>
        <h1>Usuário</h1>
        <a th:href="@{/}">Início</a> / Usuário<br />
        <br />
        <a th:href="@{/usuario/create}">Cadastrar</a><br />

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Senha</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario: ${usuarios}" th:object=${usuario}>
                    <td><a th:text=*{id} th:href="@{/usuario/{id}(id=*{id})}"></a></td>
                    <td th:text=*{nome}></td>
                    <td th:text=*{descricao}></td>
                    <td th:text=*{senha}></td>
                    <td th:text=*{email}></td>
                    <td><a th:href="@{/usuario/{id}(id=*{id})}">Ver</a> - <a th:href="@{/usuario/{id}/update(id=*{id})}">Alterar</a> - <a th:href="@{/usuario/{id}/delete(id=*{id})}">Apagar</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>