<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Vínculos</title>
    </head>
    <body>
        <h1>Vínculos</h1>
        <a th:href="@{/}">Início</a> / <a th:href="@{/itens}">Item</a> / <a th:href="@{/itens/{id}(id=*{id})}" th:text="*{id}"></a> / <a th:href="@{/itens/{id}/vinculos(id=*{id})}">Vínculos</a> / <a th:href="@{/itens/{id}/vinculos/{vid}(id=*{id}, vid=*{vid})}" th:text="*{vid}"></a> / Etiquetas<br />
        <br />
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="etiqueta: ${etiquetas}" th:object=${etiqueta}>
                    <td><a th:text=*{id} th:href="@{/etiquetas/{id}(id=*{id})}"></a></td>
                    <td th:text=*{titulo}></td>
                    <td>
                        <a th:if="${vinculo.etiquetas.contains(etiqueta)}" th:href="@{/itens/{id}/vinculos/{vid}/etiquetas/{eid}/remove(id=${id}, vid=${vid}, eid=*{id})}">Remover</a>
                        <a th:unless="${vinculo.etiquetas.contains(etiqueta)}" th:href="@{/itens/{id}/vinculos/{vid}/etiquetas/{eid}/add(id=${id}, vid=${vid}, eid=*{id})}">Adicionar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>